<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Web" verbose="1">

    <test name="No functional - aka acceptance cases, UI controls verification and it presents at  UI.
    Functionality checks are out of scope.">
        <groups>
            <run>
                <include name="acceptance"/>
                <include name="ezlo"/>
                <include name="android"/>
            </run>
        </groups>
        <classes>
            <class name="com.ezlo.automation.framework.tests.mob.LaunchMobAppTests"/>
        </classes>
    </test>

</suite>
